/* Reset some default styles for consistency */

 body, figure, h1, h2, h3, p, ul {
    margin: 3;
    padding: 3;
  }
  
  body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 60px;
  }
  
  /* -------------------------------------------------------- Header --------------------------------------------- */
  .header {
    background-color: #000000;
    color: #ffffff;
    padding: 0px;
  }

  header {
    position: fixed;
    width: 100%;
    left: 0;
  }

  .logo{
    max-width: 150px;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    padding: 10px 0;
    margin-top: -30px;
  }
  
  .nav-item {
    margin: 0 10px;
    transition: 0.4s font-size, color 0.5s ease;
  }

  .nav-item:hover{
    font-size: 20px;
    color: #ffffff;
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #ffffff;
    cursor: pointer;
  }
  
  .nav-bar {
    display: flex;
    justify-content: right;
  }
  
   /* ------------------------------------------------------ Hero section ------------------------------------------*/
   .hero {
    background-color: #ffffff;
    padding: 100px 0;
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .hero {
    padding-top: 120px
  }

  .hero-title {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .hero-subtitle {
    font-size: 24px;
    margin-bottom: 40px;
    color: #000000;
    text-align: center;
  }

  .hero-subtitle-h3 {
    font-size: 20px;
    margin-bottom: 40px;
    color: #000000;
  }

  img {
    width: auto;
  }

  a {
    color: #1c1c9d;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #c6c9f2;
    text-decoration: none; 
  }

a:hover,
a:focus {
  color: #c6c9f2;
  text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #ffffff;
    color: #000000; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #11123c; 
    transition: 0.4s opacity, 0.4s font-size;
    border: 2px solid #11123c;
  }

  .button:hover {
    background-color: #000000; 
    color: #ffffff;
    text-decoration: none;
    opacity: 0.75;
    font-size: 18px;
  }

  a:visited { /* visited link */
    color: #fb5beb;
  }

  a:active { /* selected link */
    color: #ffffff;
  }

  .button.contact {
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #11123c;
    transition: 0.4s opacity, 0.4s font-size;
    border: 2px solid #11123c;
  }

  .button.contact:hover {
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
  }
  
  /* -------------------------------------- Content section ------------------------------ */
  .content {
    background-color: #ffffff;
    padding: 100px 0;
    text-align: center;
  }

  .content-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
  }

  .content-subtitle {
    font-size: 25px;
    margin-bottom: 40px;
  }
  
  .content-item {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }

  .content-image {
    width: 80%;
    height:auto;
    margin-bottom: 10px;
  }
  
  .content-subtitle {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .content-subtitle-2{
    font-size: 35px;
    margin-bottom: 10px;
  }

  .content-subtitle-3{
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .content-description {
    font-size: 18px;
    color: #000000;
  }

  .my-story {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin-left: -35px;
  }

  .berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }


  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
  
  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

  /* ---------------------------------------------------- About section ---------------------------- */
  .about {
    padding: 100px 0;
  }
  
  .about-image {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .about-text {
    font-size: 16px;
    color: #666;
  }
  
  /* ---------------------------------------------- Contact section --------------------------------- */
  .contact {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
  }

  .contact-image{
    max-width: 32px;
    height: auto;
  }

  .footer-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 60px;
  }
  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
.col-md-6 {
    width: 50%
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-7 {
        width: 60%;
    }

    .col-lg-5 {
        width:40%;
    }

    [class*="col-"] {
        float: left;
    }
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

  }
  
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}